@use 'sass:math';
@charset 'utf-8';
@import 'normalize';
@import 'auto-em-rem-perssent';
@import 'calc-adaptive';

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Demi.woff2') format('woff2'),
         url('../fonts/AvenirNextCyr-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Bold.woff2') format('woff2'),
         url('../fonts/AvenirNextCyr-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Medium.woff2') format('woff2'),
         url('../fonts/AvenirNextCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
%textstyle1 {
	font-size: rem(18);
	line-height: em(22);
}
%textstyle2 {
	font-size: rem(16);
	line-height: em(21);
}
%afterStyle {
	position: absolute;
	content: '';
	@include adaptive-value("width", 41, 27, 1);
	@include adaptive-value("height", 10, 7, 1);
	background: rgba(3, 225, 255, 0.66);
	filter: blur(6px);
}

body{
	font-family: 'Avenir Next Cyr';
	font-weight: 500;
	font-size: rem(15);
	line-height: em(21);
	overflow-x: hidden;
	background: linear-gradient(286.41deg, #022335 3.63%, #043A41 90.98%);
	color: #fff;
	&.lock{
		overflow: hidden;
	}
}

$offsetContainer: 15px; 

.container{
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 $offsetContainer;
}


ul li{
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
.wrapper{
	overflow-x: hidden;
}
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: .2s;
	&.open{
		opacity: 1;
		visibility: visible;
	}
	&.open &__content{
		opacity: 1;
		transform: translate(0px, 0px);
	}
	&__body {
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 30px 10px;
	}
	&__content {
		max-width: 830px;
		position: relative;
		opacity: 0;
		transition: .2s;
		transform: translate(0px, -100px);
		background: linear-gradient(286.41deg, #033958 3.63%, #0F6B78 90.98%);
		box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.53);
		border-radius: 20px;
		padding: 33px 28px 45px;
	}
	&__close {
		position: absolute;
		top: 15px;
		right: 15px;
		color: #fff;
	}
	&__title{
		font-weight: 500;
		font-size: rem(22);
		line-height: em(28);
		text-transform: uppercase;
		margin-bottom: 32px;
		span{
			color: #4ABCEC;
		}
	}
	&__form-box{
		font-size: rem(13);
		line-height: 1.1;
		letter-spacing: 0.1em;
		margin-bottom: 20px;
		color: #00E0FF;
	}
	label{
		margin-bottom: 10px;
		display: inline-block;
	}
	&-form__inp{
		display: block;
		font-size: rem(15);
		line-height: 1.1;
		letter-spacing: 0.1em;
		background: linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.0539) 100%);
		border-radius: 9px;
		color: #fff;
		border: none;
		outline: none;
		border: 2px inside #00E0FF;
		padding: 21px 21px 16px;
		width: 100%;
		&::placeholder{
			font-size: rem(15);
			line-height: 1.1;
			letter-spacing: 0.1em;
			color: #fff;
		}
	}
	&-btn{
		@include adaptive-value("margin-top", 20, 10, 1);
		border: none;
		width: 100%;
	}

}
.visually-hidden{
	border: 0;
	clip: rect(0 0 0 0);
	-webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	white-space: nowrap;
}
.logo {
	@include adaptive-value("width", 85, 55, 1);
}
.phone {
	@extend %textstyle1;
	position: relative;
	padding-left: 30px;
	&::before{
		content: '';
		position: absolute;
		top: 2px;
		left: 0;
		background-image: url('../images/icons/phone.svg');
		background-repeat: no-repeat;
		width: 23px;
		height: 23px;
	}
}
.scroll-down {
	position: absolute;
	left: 55%;
	transform: translateX(-55%);
	bottom: 2vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&-text{
		writing-mode: vertical-rl;
		transform: rotate(-180deg);
		font-weight: 600;
		font-size: rem(10);
		line-height: 1.1;
		letter-spacing: 0.36em;
		text-transform: uppercase;
		color: #747D81;
		margin-bottom: 15px;
	}
	&-image{}
}
.btn-webinar{
	font-weight: 700;
	font-size: rem(12);
	text-transform: uppercase;
	letter-spacing: 0.25em;
	text-align: center;
	display: inline-block;
	background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
	box-shadow: 0px 7px 20px -7px #00E0FF;
	border-radius: 9px;
	@include adaptive-value("padding-top", 20, 10, 1);
	@include adaptive-value("padding-bottom", 20, 10, 1);
	@include adaptive-value("padding-right", 10, 5, 1);
	@include adaptive-value("padding-left", 10, 5, 1);
	transition: 0.3s;
	color: #fff;
	cursor: pointer;
	&:hover{
		box-shadow: 0px 10px 25px -10px #00E0FF;
	}
}
.menu__burger{
	display: none;
}
.header {
	background-image: url('../images/header-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	position: relative;
	z-index: 5;
	&::before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 2px;
		box-shadow: 0px 3px 15px rgba(0, 224, 255, 0.93), 0px 4px 15px #4AD9EC, 0px 0px 24px #00E0FF;
		filter: blur(2px);
	}
	&::after{
		content: '';
		position: absolute;
		bottom: -25%;
		left: 55%;
		transform: translateX(-55%);
		@include adaptive-value("width", 450, 300, 1);
		@include adaptive-value("height", 450, 300, 1);
		background-color: #00E0FF;
		opacity: 0.28;
		filter: blur(247px);
		z-index: -1;
	}
	&__top {
		margin-bottom: 5vh;
	}
	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include adaptive-value("padding-top", 20, 5, 1);
		@include adaptive-value("padding-bottom", 20, 5, 1);
	}
	&__logo {}
	&__phone {}

	&__content {}
	&__text {
		max-width: 50%;
	}
	&__suptitle {
		@extend %textstyle1;
		font-weight: 600;
		color: #747D81;
	}
	&__title {
		font-size: rem(100);
		line-height: 1.25em;
		font-weight: 600;
		background: linear-gradient(180deg, #FFFFFF 31.75%, #1A3031 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		width: 750px;
		@include adaptive-value("margin-bottom", 10, 5, 1);
	}
	&__subtitle {
		@extend %textstyle1;
		margin-bottom: 11vh;
		display: inline-block;
		font-weight: 500;
	}
	&__guarantees {
		@extend %textstyle1;
		font-weight: 700;
		@include adaptive-value("padding-left", 95, 55, 1);
		position: relative;
		margin-bottom: 12vh;
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background-image: url('../images/icons/gurantees.svg');
			background-repeat: no-repeat;
			background-size: cover;
			@include adaptive-value("width", 75, 45, 1);
			@include adaptive-value("height", 75, 45, 1);
		}
	}
	&__guarantees-title {
		margin-bottom: 5px;
	}
	&__guarantees-descr {
		color: #00E0FF;
		font-weight: 500;
	}
	&__consultation {
		position: absolute;
		top: 15vh;
		left: 3vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: 600;
		font-size: rem(10);
		line-height: 1.1;
		letter-spacing: 0.36em;
		text-transform: uppercase;
		color: #00e0ff;
	}
	&__consultation-link {
		@include adaptive-value("padding", 20, 10, 1);
		background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
		box-shadow: 0px 7px 20px -7px #00E0FF;
		border-radius: 50%;
		@include adaptive-value("margin-bottom", 35, 20, 1);
		transition: 0.3s;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			top: -15%;
			left: -15%;
			bottom: 0;
			right: 0;
			width: 130%;
			height: 130%;
			background-color: #FFFFFF;
			border-radius: 50%;
			opacity: 0.05;
			transition: 0.5s;
		}
		svg{
			@include adaptive-value("width", 40, 25, 1);
			@include adaptive-value("height", 40, 25, 1);
		}
		&:hover{
			background-color: #00E0FF;
			&::before{
				opacity: 0.2;
			}
		}
	}
	&__consultation-text {
		writing-mode: vertical-rl;
		transform: rotate(-180deg);
	}
	&__btn {
		width: 100%;
		margin-bottom: 2vh;
	}
}
.title {
	font-weight: 500;
	font-size: rem(54);
	line-height: 1.22;
	text-transform: uppercase;
	strong{
		font-weight: inherit;
		color: #4abcec;
	}
}
.main{}
.reasons {
	position: relative;
	z-index: 5;
	padding-top: 12vh;
	padding-bottom: 7vh;
	background: linear-gradient(286.41deg, rgba(2, 35, 53, 0.8) 3.63%, rgba(12, 55, 61, 0.8) 90.98%);
	transform: matrix(-1, 0, 0, 1, 0, 0);
	&::before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 2px;
		box-shadow: 0px 3px 15px rgba(0, 224, 255, 0.93), 0px 4px 15px #4AD9EC, 0px 0px 24px #00E0FF;
		filter: blur(2px);
	}
	&__container{
		transform: matrix(-1, 0, 0, 1, 0, 0);
	}
	&__title {
		margin-bottom: 5vh;
		max-width: 770px;
	}
	&__inner {
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		@include adaptive-value("padding-top", 40, 18, 1);
		@include adaptive-value("padding-right", 38, 24, 1);
		@include adaptive-value("padding-bottom", 42, 14, 1);
		@include adaptive-value("padding-left", 38, 24, 1);
		background: linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.0539) 100%);
		border-radius: 20px;
		position: relative;
		flex: 1 1 23%;
		margin-right: 10px;
		margin-bottom: 10px;
		&::before{
			bottom: -2px;
			left: 13%;
			@extend %afterStyle;
		}
	}
	svg{
		max-width: 50px;
		max-height: 50px;
		@include adaptive-value("margin-bottom", 15, 7, 1);
	}
	&__text {}
}
.cool {
	padding-top: 12vh;
	padding-bottom: 7vh;
	background-image: url('../images/ai-cool--bg.jpg');
	background-repeat: no-repeat;
	background-position: 100% center;
	background-attachment: fixed;
	background-size: cover;
	mix-blend-mode: lighten;
	box-shadow: inset 0px 0px 110px 14px #000000;
	&__inner {
		max-width: 700px;
	}
	&__title {
		margin-bottom: 5vh;
	}
	&__list {
		margin-bottom: 10vh;
	}
	&__list-item {
		background: linear-gradient(90deg, rgba(31, 63, 77, 0.54) 0%, rgba(31, 75, 94, 0) 100%);
		padding: 20px 0 24px 52px;
		margin-bottom: 5px;
		position: relative;
		&::before{
			position: absolute;
			content: '';
			top: 17px;
			left: 10px;
			background-image: url('../images/icons/check-mark.svg');
			background-repeat: no-repeat;
			width: 32px;
			height: 23px;
		}
		&::after{
			top: 27px;
			left: 7%;
			@extend %afterStyle;
		}
	}
	&__phone-bg{}
	&__btn {
		width: 100%;
		max-width: 480px;
	}
}
.phone-bg{display: none;}
.important {
	background: linear-gradient(286.41deg, rgba(2, 35, 53, 0.8) 3.63%, rgba(12, 55, 61, 0.8) 90.98%);
	transform: matrix(-1, 0, 0, 1, 0, 0);
	padding-top: 12vh;
	padding-bottom: 7vh;
	box-shadow: inset 0px 0px 150px 14px #000000;
	&::before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 2px;
		box-shadow: 0px 3px 15px rgba(0, 224, 255, 0.93), 0px 4px 15px #4AD9EC, 0px 0px 24px #00E0FF;
		filter: blur(2px);
	}
	&__container{
		transform: matrix(-1, 0, 0, 1, 0, 0);
	}
	&__title {
		margin-bottom: 6vh;
	}
	&__inner {}
	&__inner-box{
		display: flex;
		@include adaptive-value("margin-right", -25, 15, 1);
		@include adaptive-value("margin-left", -25, 15, 1);
		@include adaptive-value("margin-bottom", 50, 25, 1);
		&--two{
			.important__item{
				flex-direction: row-reverse;
			}
		}
	}
	&__item {
		@include adaptive-value("padding-right", 25, 15, 1);
		@include adaptive-value("padding-left", 25, 15, 1);
		flex: 0 1 50%;
		display: flex;
		align-items: center;
	}
	&__image {
		position: relative;
		opacity: 0.7;
		img{
			border-radius: 24px;
		}
		&::after{
			bottom: 0;
			left: 15%;
			@extend %afterStyle;
		}
	}
	&__text {
		@extend %textstyle2;
		margin-left: 20px;
	}
}
.well {
	padding-top: 12vh;
	padding-bottom: 7vh;
	background-image: url('../images/brain--bg.jpg');
	background-repeat: no-repeat;
	background-position: 100% center;
	background-size: cover;
	mix-blend-mode: lighten;
	box-shadow: inset 100px 0px 143px 76px #000000;
	position: relative;
	&::before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 2px;
		box-shadow: 0px 3px 15px rgba(0, 224, 255, 0.93), 0px 4px 15px #4AD9EC, 0px 0px 24px #00E0FF;
		filter: blur(2px);
	}
	&__title {
		max-width: 830px;
		margin-bottom: 5vh;
	}
	&__list {
		max-width: 730px;
		@include adaptive-value("margin-bottom", 20, 10, 1);
	}
	&__list-item {
		position: relative;
		padding-left: 58px;
		@extend %textstyle2;
		@include adaptive-value("padding-bottom", 35, 20, 1);
		&::before{
			top: 5px;
			@extend %afterStyle;
			background: rgba(3, 225, 255, 0.53);
			filter: blur(11px);
		}
		&::after{
			content: '';
			position: absolute;
			top: -5px;
			left: 0;
			width: 36px;
			height: 36px;
			background-image: url('../images/icons/well--checmark.svg');
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	&__btn {
		width: 100%;
		max-width: 480px;
	}
}
.knowlenge {
	padding-top: 12vh;
	padding-bottom: 7vh;
	background: linear-gradient(286.41deg, rgba(2, 35, 53, 0.8) 3.63%, rgba(12, 55, 61, 0.8) 90.98%);
	transform: matrix(-1, 0, 0, 1, 0, 0);
	position: relative;
	&::before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 2px;
		box-shadow: 0px 3px 15px rgba(0, 224, 255, 0.93), 0px 4px 15px #4AD9EC, 0px 0px 24px #00E0FF;
		filter: blur(2px);
	}
	&__container{
		transform: matrix(-1, 0, 0, 1, 0, 0);
	}
	&__title {
		@include adaptive-value("margin-bottom", 20, 5, 1);
	}
	&__subtitle {
		display: inline-block;
		@extend %textstyle1;
		font-weight: 500;
		@include adaptive-value("margin-bottom", 20, 10, 1);
	}
	&__inner {
		margin-bottom: 6vh;
	}
	&__item-spoller {
		margin-bottom: 17px;
		&._development{
			.knowlenge__item-title--development{display: inline-block;}
		}
	}
	&__item-title {
		background: linear-gradient(286.41deg, #073447 3.63%, #08262B 90.98%);
		border-radius: 6px;
		padding-top: 12px;
		@include adaptive-value("padding-right", 52, 47, 1);
		padding-bottom: 15px;
		@include adaptive-value("padding-left", 37, 30, 1);
		font-size: rem(20);
		line-height: 1.1;
		font-weight: 800;
		color: #fff;
		border: none;
		width: 100%;
		text-align: left;
		position: relative;
		transition: 0.2s;
		cursor: pointer;
		p{
			display: inline-block;
			margin-right: 5px;
		}
		small{
			font-weight: 500;
			color: #08B1B9;
		}
		&::before{
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 10px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: linear-gradient(180deg, #00E0FF 0%, #4A8BEC 100%);
			box-shadow: 0px 4px 8px rgba(0, 224, 255, 0.56);
		}
		&::after{
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 10px;
			width: 32px;
			height: 32px;
			background:	linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.0539) 100%);
			border-radius: 6px;
		}
		svg{
			position: absolute;
			top: 50%;
			transform: translateY(-50%) rotate(180deg);
			right: 19px;
			transition: 0.3s;
		}
		&._active{
			svg{
				transform: translateY(-50%) rotate(0deg);
			}
		}
	}
	&__item-title--development{
		font-size: rem(13);
		line-height: em(21);
		text-transform: uppercase;
		background-color: #00e0ff;
		padding: 2px 3px;
		color: #08262B;
		display: none;
	}
	&__item-content {
		@include adaptive-value("margin-top", 35, 20, 1);
		@include adaptive-value("padding-left", 45, 37, 1);
		position: relative;
		@include adaptive-value("margin-bottom", 40, 23, 1);
	}
	&__item-number {
		position: absolute;
		top: 0;
		left: 0;
		width: 27px;
		height: 27px;
		color: #08262B;
		font-weight: 800;
		font-size: rem(14);
		line-height: em(21);
		border-radius: 50%;
		background-color: #4ABCEC;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__item-subtitle{
		display: inline-block;
		font-weight: 800;
		color: #4ABCEC;
		font-size: 1rem;
		line-height: em(22);
		margin-bottom: 12px;
	}
	&__item-text {
		@extend %textstyle1;
	}
	&__btn{
		max-width: 480px;
		width: 100%;
	}
}
.author {
	padding-top: 12vh;
	padding-bottom: 7vh;
	background-image: url('../images/author--bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	// mix-blend-mode: lighten;
	position: relative;
	&::before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 2px;
		box-shadow: 0px 3px 15px rgba(0, 224, 255, 0.93), 0px 4px 15px #4AD9EC, 0px 0px 24px #00E0FF;
		filter: blur(2px);
	}
	&__bg-text{
		position: absolute;
		top: 80%;
		left: 70%;
		transform: translate(-70%, -80%);
		b{
			font-size: rem(24);
			line-height: em(20);
			margin-bottom: 5px;
			display: inline-block;
			font-weight: 800;
			color: #00E0FF;
		}
		p{
			font-size: rem(14);
		}
	}
	&__title {
		margin-bottom: 6vh;
	}
	&__text {
		line-height: em(24);
		max-width: 490px;
	}
	&__text-item {
		margin-bottom: 35px;
	}
}
.notifications,
.vacancies {
	padding-top: 12vh;
	padding-bottom: 7vh;
	background: linear-gradient(286.41deg, rgba(2, 35, 53, 0.8) 3.63%, rgba(12, 55, 61, 0.8) 90.98%);
	transform: matrix(-1, 0, 0, 1, 0, 0);
	position: relative;
	&::before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 2px;
		box-shadow: 0px 3px 15px rgba(0, 224, 255, 0.93), 0px 4px 15px #4AD9EC, 0px 0px 24px #00E0FF;
		filter: blur(2px);
	}
	&__container{
		transform: matrix(-1, 0, 0, 1, 0, 0);
	}
	&__title {}
	&__more {
		display: inline-block;
		font-weight: 800;
		font-size: rem(12);
		line-height: em(15);
		letter-spacing: 0.25em;
		text-transform: uppercase;
		color: #4ABCEC;
		border: 1px solid #00E0FF;
		border-radius: 9px;
		@include adaptive-value("padding-top", 23, 13, 1);
		@include adaptive-value("padding-right", 30, 20, 1);
		@include adaptive-value("padding-bottom", 23, 13, 1);
		@include adaptive-value("padding-left", 30, 20, 1);
	}
	&__header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include adaptive-value("margin-bottom", 54, 42, 1);
	}
	&__slider {
		overflow: visible;
	}
	&__slider-wrapper {}
	&__slider-item {}
	&__slider-date{
		font-size: rem(12);
		font-weight: 600;
		position: absolute;
		z-index: 5;
		top: 20px;
		right: 20px;
		padding-left: 15px;
		&::before{
			position: absolute;
			top: 5px;
			left: 0;
			content: '';
			background-image: url('../images/icons/date.svg');
			background-repeat: no-repeat;
			width: 9px;
			height: 9px;
		}
	}
	&__slider-image {}
	&__slider-title {
		
	}
	&__slider-text {
		
	}
	&__slider-more {
		
	}
	.swiper-slide{}
}
.swiper-slide-item{
	width: 100%;
	position: relative;
}
.swiper-slide-image{
	position: relative;
	opacity: 0.7;
	&::before{
		bottom: 0;
		left: 10%;
		@extend %afterStyle;
		background: rgba(3, 225, 255, 0.66);
		filter: blur(5px);
	}
	max-width: 387px;
	@include adaptive-value("margin-bottom", 12, 5, 1);
	img{
		width: 100%;
		object-fit: cover;
		border-radius: 21px;
	}
}
.swiper-slide-title{
	display: inline-block;
	font-weight: 800;
	font-size: 1rem;
	line-height: em(21);
	margin-bottom: 18px;
}
.swiper-slide-text{
	height: 60px;
	overflow: hidden;
	@include adaptive-value("margin-bottom", 10, 5, 1);
	background: linear-gradient(180deg, #FFFFFF 65.96%, rgba(105, 104, 104, 0) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.swiper-slide-more{
	font-size: rem(12);
	text-decoration: underline;
	color: #4ABCEC;
}
.swiper-button-prev,
.swiper-button-next {
	top: 31%;
   	@include adaptive-value("width", 62, 43, 1);
   	@include adaptive-value("height", 62, 43, 1);
   	background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
   	opacity: 1;
   	border-radius: 50%;
   	transition: 0.3s;
   	svg{
   		@include adaptive-value("width", 22, 15, 1);
   	}
   	&.swiper-button-disabled{
   		background: #08262B;
   		opacity: 0.7;
   	}
   	&::after,
   	&::before{
   		content: '';
   	}
}
.vacancies {
	&__slider-list--item{
		margin-bottom: 3px;
	}
	&__slider-list{}
	&__slider-list--item{
		&::after {
			content: "";
			display: block;
			overflow: hidden;
			padding-top: 1em;
			height: 2px;
			box-sizing: content-box;
			background: repeating-linear-gradient(to right, white, white 2px, transparent 2px, transparent 7px);
			background-clip: content-box;
		}
	}
	&__slider-list--left{
		float: left;
	}
	&__slider-list--right{
		float: right;
	}
	&__slider-list--left::after,
	&__slider-list--right::before{
 		content: "";
  		display: inline-block;
  		width: .3em;
	}
}
.footer {
	padding-top: 7vh;
	padding-bottom: 1vh;
	background: linear-gradient(286.41deg, #022335 3.63%, #043A41 90.98%);
	position: relative;
	&__scroll-top{
		position: absolute;
		top: -22vh;
		left: 3vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: 600;
		font-size: rem(10);
		line-height: 1.1;
		letter-spacing: 0.36em;
		text-transform: uppercase;
		color: #00e0ff;
	}
	&__scroll-text{
		writing-mode: vertical-rl;
		transform: rotate(-180deg);
		opacity: 0.7;
	}
	&__container{}
	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 5vh;
	}
	&__logo {}
	&__contacts {}
	&__connection {
		margin-bottom: 30px;
	}
	&__connection-email {
		@extend %textstyle1;
		text-decoration: underline;
		color: #4ABCEC;
		padding-left: 35px;
		margin-right: 35px;
		position: relative;
		&::before{
			position: absolute;
			content: '';
			top: 3px;
			left: 0;
			width: 25px;
			height: 18px;
			background-image: url('../images/icons/mail.svg');
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	&__connection-phone {}
	&__social {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	&__social-text {
		font-weight: 600;
		font-size: rem(10);
		letter-spacing: 0.12em;
		text-transform: uppercase;
		color: #747D81;
	}
	&__social-item {
		margin: 0 15px;
		&:last-child{
			margin-right: 0;
		}
	}
	&__bottom {}
	&__copy {
		text-align: center;
		@extend %textstyle2;
		background: linear-gradient(180deg, #FFFFFF 65.96%, rgba(105, 104, 104, 0) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		position: relative;
		margin-bottom: 10px;
		&::before,
		&::after{
			position: absolute;
			content: '';
			top: 50%;
			width: 35%;
			height: 1px;
			background-color: rgba(0, 224, 255, 0.2);;
		}
		&::before{
			left: 0;
		}
		&::after{
			right: 0;
		}
	}
	&__development {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	&__development-text {
		font-weight: 600;
		font-size: rem(10);
		letter-spacing: 0.12em;
		text-transform: uppercase;
		color: #747D81;
		margin-right: 10px;
	}
	&__development-image {
		max-width: 123px;
		width: 100%;
	}
}
.scroll-top-svg{
	cursor: pointer;
	@include adaptive-value("width", 80, 50, 1);
	@include adaptive-value("height", 80, 50, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
	box-shadow: 0px 7px 20px -7px #00E0FF;
	border-radius: 50%;
	margin-top: 15px;
	transition: 0.3s;
	position: relative;
	&::before{
		content: '';
		position: absolute;
		top: -15%;
		left: -15%;
		bottom: 0;
		right: 0;
		width: 130%;
		height: 130%;
		background-color: #FFFFFF;
		border-radius: 50%;
		opacity: 0.05;
		transition: 0.5s;
	}
	svg{
		@include adaptive-value("width", 25, 20, 1);
		@include adaptive-value("height", 25, 20, 1);
	}
	&:hover{
		background-color: #00E0FF;
		&::before{
			opacity: 0.2;
		}
	}
}

@import 'media';